<h1>Iniciar sesión</h1>

<% if flash[:alert] %>
  <div id="flash_alert"><%= flash[:alert] %></div>
<% end %>

<%= form_with url: session_path, method: :post do |f| %>
  <div>
    <%= f.label :email, "Correo electrónico" %>
    <%= f.email_field :email, autocomplete: "email", required: true %>
  </div>

  <div>
    <%= f.label :password, "Contraseña" %>
    <%= f.password_field :password, autocomplete: "current-password", required: true %>
  </div>

  <div>
    <%= f.submit "Iniciar sesión" %>
  </div>
<% end %>
