<div id="company_settings">
  <h2>Datos de la empresa</h2>
  <dl>
    <dt>Razón social</dt>
    <dd><%= company_settings.razon_social %></dd>

    <dt>RUC</dt>
    <dd><%= company_settings.ruc %></dd>

    <dt>Dirección</dt>
    <dd><%= company_settings.direccion %></dd>

    <dt>Teléfono</dt>
    <dd><%= company_settings.telefono %></dd>

    <% if company_settings.logo.attached? %>
      <dt>Logo</dt>
      <dd><%= image_tag company_settings.logo, alt: "Logo de la empresa" %></dd>
    <% end %>
  </dl>

  <div class="action-bar">
    <%= action_link "Editar configuración", edit_company_settings_path,
                    variant: :primary, size: :md, icon: :pencil, data: { turbo_frame: "modal" } %>
  </div>
</div>
