<h1>Configuración de la empresa</h1>

<dl>
  <dt>Razón social</dt>
  <dd><%= @company_settings.razon_social %></dd>

  <dt>RUC</dt>
  <dd><%= @company_settings.ruc %></dd>

  <dt>Dirección</dt>
  <dd><%= @company_settings.direccion %></dd>

  <dt>Teléfono</dt>
  <dd><%= @company_settings.telefono %></dd>

  <% if @company_settings.logo.attached? %>
    <dt>Logo</dt>
    <dd><%= image_tag @company_settings.logo, alt: "Logo de la empresa" %></dd>
  <% end %>
</dl>

<%= link_to "Editar configuración", edit_company_settings_path %>
