<tr id="<%= dom_id(client) %>">
  <td data-label="Nombre completo"><%= client.full_name %></td>
  <td data-label="Tipo de documento"><%= client.document_type.upcase %></td>
  <td data-label="Número de documento"><%= client.document_number %></td>
  <td data-label="Teléfono"><%= client.phone %></td>
  <td data-label="Dirección"><%= client.direccion %></td>
  <td data-label="Distrito"><%= client.distrito %></td>
  <td data-label="Provincia"><%= client.provincia %></td>
  <td data-label="Departamento"><%= client.departamento %></td>
  <td class="col-actions">
    <%= render layout: "shared/actions_menu" do %>
      <%= action_link 'Ver', client, icon: :eye, data: { turbo_frame: 'modal' } %>
      <% if policy(client).edit? %>
        <%= action_link 'Editar', edit_client_path(client), icon: :pencil,
                        data: { turbo_frame: 'modal' } %>
      <% end %>
      <% if policy(client).destroy? %>
        <%= action_button 'Archivar', client, method: :delete, icon: :archive,
                          confirm: '¿Archivar este cliente?' %>
      <% end %>
    <% end %>
  </td>
</tr>
