<tr id="<%= dom_id(client) %>">
  <td><%= client.full_name %></td>
  <td><%= client.document_type.upcase %></td>
  <td><%= client.document_number %></td>
  <td><%= client.phone %></td>
  <td><%= client.direccion %></td>
  <td class="col-actions">
    <div class="row-actions">
      <%= action_link 'Ver', client, icon: :eye %>
      <%= action_link 'Editar', edit_client_path(client), icon: :pencil %>
      <%= action_button 'Archivar', client, method: :delete, icon: :archive,
                        confirm: '¿Archivar este cliente?' %>
    </div>
  </td>
</tr>
