<tr id="<%= dom_id(client) %>">
  <td><%= client.full_name %></td>
  <td><%= client.document_type %></td>
  <td><%= client.document_number %></td>
  <td><%= client.phone %></td>
  <td>
    <%= link_to 'Ver', client %>
    <%= link_to 'Editar', edit_client_path(client) %>
    <%= button_to 'Archivar', client, method: :delete,
                  data: { confirm: '¿Archivar este cliente?' },
                  form: { style: 'display:inline' } %>
  </td>
</tr>
