<h1>Detalle del cliente</h1>

<dl>
  <dt>Nombre completo</dt>
  <dd><%= @client.full_name %></dd>

  <dt>Tipo de documento</dt>
  <dd><%= @client.document_type&.humanize %></dd>

  <dt>Número de documento</dt>
  <dd><%= @client.document_number %></dd>

  <dt>Teléfono</dt>
  <dd><%= @client.phone %></dd>
</dl>

<p>
  <%= link_to 'Editar', edit_client_path(@client) %>
  <%= button_to 'Archivar', @client, method: :delete,
                data: { confirm: '¿Archivar este cliente?' } %>
</p>

<% if flash[:alert].present? %>
  <div id="alert"><%= flash[:alert] %></div>
<% end %>

<%= link_to 'Volver a clientes', clients_path %>
