<h1>Detalle del cliente</h1>

<dl>
  <dt>Nombre completo</dt>
  <dd><%= @client.full_name %></dd>

  <dt>Tipo de documento</dt>
  <dd><%= @client.document_type&.humanize %></dd>

  <dt>Número de documento</dt>
  <dd><%= @client.document_number %></dd>

  <dt>Teléfono</dt>
  <dd><%= @client.phone %></dd>
</dl>

<% if flash[:alert].present? %>
  <div id="alert"><%= flash[:alert] %></div>
<% end %>

<div class="action-bar">
  <%= action_link 'Editar', edit_client_path(@client), size: :md, icon: :pencil %>
  <%= action_button 'Archivar', @client, method: :delete, size: :md, icon: :archive,
                    confirm: '¿Archivar este cliente?' %>
  <span class="spacer"></span>
  <%= action_link 'Volver a clientes', clients_path, size: :md, icon: "arrow-left" %>
</div>
