<%= render layout: "shared/modal", locals: { title: "Detalle del cliente" } do %>
  <dl class="modal-details">
    <dt>Nombre completo</dt>
    <dd><%= @client.full_name %></dd>

    <dt>Tipo de documento</dt>
    <dd><%= @client.document_type&.upcase %></dd>

    <dt>Número de documento</dt>
    <dd><%= @client.document_number %></dd>

    <dt>Teléfono</dt>
    <dd><%= @client.phone %></dd>

    <dt>Dirección</dt>
    <dd><%= @client.direccion %></dd>

    <dt>Distrito</dt>
    <dd><%= @client.distrito %></dd>

    <dt>Provincia</dt>
    <dd><%= @client.provincia %></dd>

    <dt>Departamento</dt>
    <dd><%= @client.departamento %></dd>
  </dl>

  <div class="form-actions">
    <% if policy(@client).edit? %>
      <%= action_link 'Editar', edit_client_path(@client), variant: :primary, size: :md, icon: :pencil,
                      data: { turbo_frame: 'modal' } %>
    <% end %>
    <%= action_link 'Volver a clientes', clients_path, variant: :ghost, size: :md,
                    icon: 'arrow-left', data: { turbo_frame: '_top' } %>
  </div>
<% end %>
