<tr id="<%= dom_id(product) %>">
  <td data-label="SKU"><%= product.sku %></td>
  <td data-label="Nombre"><%= product.name %></td>
  <td data-label="Marca"><%= product.brand %></td>
  <td data-label="Almacén"><%= product.warehouse&.name %></td>
  <td data-label="Stock"><%= product.stock %></td>
  <td data-label="Precio base (USD)"><%= money(product.base_price_usd) %></td>
  <td class="col-actions">
    <%= render layout: "shared/actions_menu" do %>
      <%= action_link 'Ver', product, icon: :eye, data: { turbo_frame: 'modal' } %>
      <% if policy(product).edit? %>
        <%= action_link 'Editar', edit_product_path(product), icon: :pencil,
                        data: { turbo_frame: 'modal' } %>
      <% end %>
      <% if policy(product).destroy? %>
        <%= action_button 'Eliminar', product, method: :delete, icon: :trash,
                          confirm: '¿Eliminar este producto?' %>
      <% end %>
    <% end %>
  </td>
</tr>
