<tr id="<%= dom_id(product) %>">
  <td><%= product.sku %></td>
  <td><%= product.name %></td>
  <td><%= product.brand %></td>
  <td><%= product.warehouse&.name %></td>
  <td><%= product.stock %></td>
  <td class="num"><%= product.base_price_usd %></td>
  <td class="col-actions">
    <div class="row-actions">
      <%= action_link 'Ver', product, icon: :eye %>
      <%= action_link 'Editar', edit_product_path(product), icon: :pencil %>
      <%= action_button 'Eliminar', product, method: :delete, icon: :trash,
                        confirm: '¿Eliminar este producto?' %>
    </div>
  </td>
</tr>
