<tr id="<%= dom_id(product) %>">
  <td><%= product.sku %></td>
  <td><%= product.name %></td>
  <td><%= product.brand %></td>
  <td><%= product.warehouse&.name %></td>
  <td><%= product.stock %></td>
  <td class="num"><%= product.base_price_usd %></td>
  <td>
    <%= link_to 'Ver', product %>
    <%= link_to 'Editar', edit_product_path(product) %>
    <%= button_to 'Eliminar', product, method: :delete,
                  data: { confirm: '¿Eliminar este producto?' },
                  form: { style: 'display:inline' } %>
  </td>
</tr>
