<h1>Detalles del producto</h1>

<dl>
  <dt>SKU</dt>
  <dd><%= @product.sku %></dd>

  <dt>Nombre</dt>
  <dd><%= @product.name %></dd>

  <dt>Marca</dt>
  <dd><%= @product.brand %></dd>

  <dt>Almacén</dt>
  <dd><%= @product.warehouse&.name %></dd>

  <dt>Stock</dt>
  <dd><%= @product.stock %></dd>

  <dt>Precio base USD</dt>
  <dd class="num"><%= number_to_currency(@product.base_price_usd, unit: 'USD ') %></dd>
</dl>

<% if flash[:alert].present? %>
  <div id="alert"><%= flash[:alert] %></div>
<% end %>

<div class="action-bar">
  <%= action_link 'Editar', edit_product_path(@product), size: :md, icon: :pencil %>
  <%= action_button 'Eliminar', @product, method: :delete, size: :md, icon: :trash,
                    confirm: '¿Eliminar este producto?' %>
  <span class="spacer"></span>
  <%= action_link 'Volver a productos', products_path, size: :md, icon: "arrow-left" %>
</div>
