<h1>Detalles del producto</h1>

<dl>
  <dt>SKU</dt>
  <dd><%= @product.sku %></dd>

  <dt>Nombre</dt>
  <dd><%= @product.name %></dd>

  <dt>Marca</dt>
  <dd><%= @product.brand %></dd>

  <dt>Almacén</dt>
  <dd><%= @product.warehouse&.name %></dd>

  <dt>Stock</dt>
  <dd><%= @product.stock %></dd>

  <dt>Precio base USD</dt>
  <dd class="num"><%= @product.base_price_usd %></dd>
</dl>

<% if flash[:alert].present? %>
  <div id="alert"><%= flash[:alert] %></div>
<% end %>

<p>
  <%= link_to 'Editar', edit_product_path(@product) %>
  <%= button_to 'Eliminar', @product, method: :delete,
                data: { confirm: '¿Eliminar este producto?' } %>
</p>

<%= link_to 'Volver a productos', products_path %>
