<tr id="<%= dom_id(warehouse) %>">
  <td><%= warehouse.name %></td>
  <td><%= warehouse.location %></td>
  <td>
    <%= link_to 'Ver', warehouse %>
    <%= link_to 'Editar', edit_warehouse_path(warehouse) %>
    <%= button_to 'Eliminar', warehouse, method: :delete,
                  data: { confirm: '¿Eliminar este almacén?' },
                  form: { style: 'display:inline' } %>
  </td>
</tr>
