<h1>Detalle del almacén</h1>

<dl>
  <dt>Nombre</dt>
  <dd><%= @warehouse.name %></dd>

  <dt>Ubicación</dt>
  <dd><%= @warehouse.location %></dd>
</dl>

<% if flash[:alert].present? %>
  <div id="alert"><%= flash[:alert] %></div>
<% end %>

<p>
  <%= link_to 'Editar', edit_warehouse_path(@warehouse) %>
  <%= button_to 'Eliminar', @warehouse, method: :delete,
                data: { confirm: '¿Eliminar este almacén?' } %>
</p>

<%= link_to 'Volver a almacenes', warehouses_path %>
