<%= render layout: "shared/modal", locals: { title: "Detalle del almacén" } do %>
  <dl class="modal-details">
    <dt>Nombre</dt>
    <dd><%= @warehouse.name %></dd>

    <dt>Ubicación</dt>
    <dd><%= @warehouse.location %></dd>
  </dl>

  <div class="form-actions">
    <% if policy(@warehouse).edit? %>
      <%= action_link 'Editar', edit_warehouse_path(@warehouse), variant: :primary, size: :md, icon: :pencil,
                      data: { turbo_frame: 'modal' } %>
    <% end %>
    <%= action_link 'Volver a almacenes', warehouses_path, variant: :ghost, size: :md,
                    icon: 'arrow-left', data: { turbo_frame: '_top' } %>
  </div>
<% end %>
