<h1>Detalle del almacén</h1>

<dl>
  <dt>Nombre</dt>
  <dd><%= @warehouse.name %></dd>

  <dt>Ubicación</dt>
  <dd><%= @warehouse.location %></dd>
</dl>

<% if flash[:alert].present? %>
  <div id="alert"><%= flash[:alert] %></div>
<% end %>

<div class="action-bar">
  <%= action_link 'Editar', edit_warehouse_path(@warehouse), size: :md, icon: :pencil %>
  <%= action_button 'Eliminar', @warehouse, method: :delete, size: :md, icon: :trash,
                    confirm: '¿Eliminar este almacén?' %>
  <span class="spacer"></span>
  <%= action_link 'Volver a almacenes', warehouses_path, size: :md, icon: "arrow-left" %>
</div>
